.photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    flex-direction: column;
}
.photos img {
    margin-bottom: 2%;
    border: 3px solid black;
}
