{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block head %}{% endblock %}
</head>
<body>
<nav>
    <a href="/">Главная</a>
    <a href="/examples">Примеры работ</a>
    <a href="/aboutme">Больше обо мне</a>
    <a href="/contacts">Связаться со мной</a>
    <a href="/admin">Админка</a>
</nav>
<hr>


{% block body %}{% endblock %}
</body>
</html>