{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}

{% block body %}
    <h1>Я - фотограф, добро пожаловать на мой сайт!</h1>
    <h2>Здесь вы можете:</h2>
    <ul>
        <li><a href="examples">Посмотреть мои работы</a></li>
        <li><a href="aboutme">Узнать больше обо мне и моей деятельности</a></li>
        <li><a href="contacts">Получить доступ к моим контактам</a></li>
        <li><a href="examples">Записаться на сессию</a></li>
        <li><a href="examples">Оставить отзыв</a></li>
    </ul>
{% endblock %}